:root {
  font-family: Fira Sans, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 300;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #ffffff;  
}

a:hover {
  color: #d8ff00;
}


h1 {
  font-size: 100px;
  line-height: 1.1;
  font-weight: 500;
}
/* inherent class for boostrap react element */
.bgBlue {
  background-color: #0055ff !important;
}
