:root {
  font-family: Fira Sans, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 300;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #ffffff;  
}

a:hover {
  color: #d8ff00;
}


h1 {
  font-size: 100px;
  line-height: 1.1;
  font-weight: 500;
}

button {
  background-color: #003ce7; /* brand main color */
  color: #ffffff;
}

button:hover {
  background-color: #0055ff; /* slightly lighter */
}

/* inherent class for boostrap react element */
.bgBlue {
  background-color: #0055ff !important;
}

.WGLink {
  color: #ffffff !important;
}

.WGLink:hover {
  color: #d8ff00 !important;
}

.nav-link:active {
  color: #d8ff00;
} 
