.eventsPage{
  line-height: 1.6;
  text-align: left;
  padding-top: 50px;
  font-family: Fira Sans, system-ui, Avenir, Helvetica, Arial, sans-serif;

}

.formTitle {
  text-decoration: line-through;
  padding-bottom: 20px;
  font-weight: 500;
  font-size: 1.5em;
  color: #003ce7;
}

.eventForm {
  background-color: #d8ff00;
  min-height: 300px; /* Minimum height */
  width: 100%; /* Full width of the column */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 25px;
}


@media (max-width: 576px) {
  .signInText {
    font-size: 1em;
    line-height: 1.6;
    padding-left: 10px;
    text-align: left;
  }
}
